/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    }
   
    header h1 {
    margin: 2%;
    }

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos de la sección principal */
  .hero {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }
  
  .feature {
    text-align: center;
    width: 30%;
  }
  
  .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .appointment-form {
    background-color: #f5f5f5;
    padding: 50px;
  }
  
  .appointment-form h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .appointment-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .appointment-form input,
  .appointment-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .appointment-form button {
    display: block;
    margin: 0 auto;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
  }